<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav class="navbar navbar-light">
        <ul class="nav">
            <li class="nav-item"><a  class="nav-link" href="/">Daniel</a></li>
            <li class="nav-item"><a  class="nav-link" href="/osvaldo">Osvaldo</a></li>
            <li class="nav-item"><a  class="nav-link" href="/angela">Angela</a></li>
            <li class="nav-item"><a  class="nav-link" href="/gabriel">Gabriel</a></li>
            <li class="nav-item"><a  class="nav-link" href="/bruno">Bruno</a></li>
        </ul>
    </nav>